{% extends "layout.html" %} {% block title %}Step 2: translate the input{%
endblock title%} {% block content %}
<form
  method="post"
  enctype="application/x-www-form-urlencoded"
  action="/generate-tsv"
>
  <div
    style="
      display: grid;
      grid-template-columns: 1fr min-content 1fr;
      gap: 1rem;
      margin-bottom: 1rem;
    "
  >
    <strong>English</strong>
    <strong>Article</strong>
    <strong>
      Foreign language (auto translated)<br />
      <span style="font-size: 0.7rem">
        You can change these values if they're not correct.</span
      >
    </strong>
    {% for item in items %}
    <input
      name="input[loop.index]"
      value="{{ item.original_word }}"
      type="text"
    />
    <input name="input[loop.index]" value="{{ item.article }}" type="text" />
    <input
      name="input[loop.index]"
      value="{{ item.translated_word }}"
      type="text"
    />
    {% endfor %}
  </div>

  <button type="submit">Generate TSV</button>
</form>
{% endblock content %}
